body {
  background-color: $background-color;
  color: $content-text-color;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  margin: 0;
  padding: 50px;
}

@mixin heading {
  font-family: 'Baumans', sans-serif;
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 1.4em;
  margin: 0 auto .5em;
}

h1, h2, h3, h4, h5, h6 {
  @include heading;
  color: $heading-text-color;

  a {
    color: $heading-text-color;

    &:visited {
      color: $heading-text-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

header .brand {
  @include heading;
  color: $brand-text-color;
  font-size: 51px;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $brand-text-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

nav {
  border-bottom: $basic-border;
  border-top: $basic-border;
  font-family: 'Fira Mono';
  font-size: 15px;
  margin: 0 0 $page-spacing;
  padding: $page-spacing 0;
  text-align: center;
  text-transform: uppercase;
  width: auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    padding: 0 .8em;
  }

  a {
    color: $content-text-color;
    text-decoration: none;

    &:visited {
      color: $content-text-color;
    }

    &:hover {
      color: $link-color;
    }
  }

  .active a {
    color: $link-color;
  }
}

main {
  margin: 0 auto;
  max-width: 600px;
}

pre, code {
  background-color: $code-bg-color;
  border: 0;
  color: $code-text-color;
}
