$background-color: rgb(3, 0, 31);
$content-text-color: rgb(196, 196, 196);
$brand-text-color: rgb(226, 97, 255);
$heading-text-color: rgb(112, 131, 255);
$border-color: #5c5c5c;
$code-bg-color: rgba(255, 255, 255, .3);
$code-text-color: #fff;

$link-color: #80f4ff;
$link-hover-color: #3defff;
