.post {
  margin-bottom: $page-spacing * 2;

  header {
    text-align: center;
  }

  .content {
    border-bottom: $basic-border;
  }

  footer {
    font-size: 11px;
    padding-top: $page-spacing / 4;
    text-align: center;
  }
}
