<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Postfurry Worlds
      {% if page.title %}
        &mdash; {{ page.title }}
      {% endif %}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Baumans|Cabin|Fira+Mono" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="brand">Postfurry Worlds</div>
    </header>
    {% include nav.html %}
    <main>
      {{ content }}
    </main>
  </body>
</html>
