<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Postfurry Worlds</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Baumans|Cabin" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>
      Postfurry Worlds
    </h1>
    <nav>
      Menu goes here
    </nav>
    {{ content }}
    Blah
  </body>
</html>
